.footer_container {
    border-top: 1px solid #e4e4e4;
    background-color: rgb(242, 242, 242);
    padding-left: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

footer {
    width: 100%;
    color: rgba(0, 0, 0, 0.54);
    font-family: arial, sans-serif;
    font-size: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
}

.footer_nav a {
    color: rgb(95, 99, 104);
    font-size: 14px;
    padding-right: 27px;
    text-decoration: none;
}

.footer_nav a:hover {
text-decoration: underline;
}

.root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: flex-end;
    padding: 0 30px;
    margin-top: 16px;
}

.header_nav{
    display: flex;
    align-items: center;  
}

.header_nav a{
    color:rgba(0, 0, 0, 0.87);
    font-size:13px;
    font-family:arial, sans-serif;
    text-decoration: none;
    padding-left: 15px;
}

.header_nav a:hover {
    text-decoration: underline;
}

.header_sing-in{
    padding: 6px 12px 7px;
    border: 1px solid #4285f4;
    border-radius: 2px;
    background-color: #4387fd;
    font-size:13px;
    font-family:arial, sans-serif;
    font-weight:700;
    color:rgb(255, 255, 255);
    margin-left: 15px;
}

.header_apps{
    border: 0 solid #f7f7f900;
    border-radius: 2px;
    background-image: url(./images/icons.png);
    background-size: 528px 68px;
    background-position: -132px -38px;
    background-color: white;
    opacity: .55;
    height: 30px;
    width: 30px;
    margin-left: 15px;
    cursor: pointer;
}

.header_apps:hover{
    opacity: .85;
}

.apps{
    height: 476px;
    width: 316px;
    border: 1px solid #c1c5cee6;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(32, 33, 36, 0.28);
    position: absolute;
    right: 30px;
    top: 60px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
}

.apps_container{
    box-sizing: border-box;
    width: 316px;
    padding: 10px 0 10px 14px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #c6c6c64a;
}

.apps_container--2{
    border-bottom: none;
}

.app {
    height: 84px;
    width: 84px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    white-space: nowrap;

}

.app span{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 85px;
}

.app:hover {
    cursor: pointer;
    background-color: #f6fafe;
    white-space: normal;
}

.app_img {
    height: 62px;
    width: 64px;
    transform: scale(calc(5/6));
    background-image: url(./images/apps.png);
    background-position: 0 -1449px;
    background-repeat: no-repeat;
}

.app_img--1{
    background-position: 0 -138px;
}

.app_img--2{
    background-position: 0 -828px;
}

.app_img--3{
    background-position: 0 -1311px;
}

.app_img--4{
    background-position: 0 -207px;
}

.app_img--5{
    background-position: 0 -483px;
}

.app_img--6{
    background-position: 0 -2622px;
}

.app_img--7{
    background-position: 0 -1863px;
}

.app_img--8{
    background-position: 0 -2277px;
}

.app_img--9{
    background-position: 0 -2553px;
}

.app_img--10{
    background-position: 0 -1242px;
}

.app_img--11{
    background-position: 0 -621px;
}

.app_img--12{
    background-position: 0 -897px;
}

.app_imgs--1{
    background-position: 0 -2208px;
}

.app_imgs--2{
    background-position: 0 -1035px;
}

.app_imgs--3{
    background-position: 0 -276px;
}

.app_imgs--4{
    background-position: 0 -2139px;
}

.app_imgs--5{
    background-position: 0 -2691px;
}

.app_imgs--6{
    background-image: url("./images/icon_keep.png");
    background-position: initial;

}

.app_imgs--7{
    background-position: 0 -690px;
}

.app_imgs--8{
    background-position: 0 -2760px;
}

.app_imgs--9{
    background-position: 0 -1932px;
}

.app_imgs--10{
    background-position: 0 -1587px;
}

.app span{
    color: #202124;
    font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 14px;
    letter-spacing: .09px;
    text-align: center;
}

.apps_button{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apps_btn{
    box-sizing: border-box;
    padding: 10px 24px;
    border: 1px solid #dadce0;
    border-radius: 4px;
    background-color: #fff;
    color: #1a73e8;
    font-weight: 500;
    font-size: 14px;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    margin: 16px 0 20px 0;
}

.apps_btn:hover {
    background-color: #f8fbff;
    border-color: #cce0fc;
    cursor: pointer;
}
.main_root{
    width: 100%;
    height: 450px;
    padding-bottom: 35px;
}

.first{
    width: 100%;
    height: 233px;
    margin-top: 43px;
    display: flex;
    justify-content: center;
}

.main_img{
    padding-top: 109px;
    height: 92px;
    margin: auto;
}

.second{
    width: 100%;
    height: 140px;
    padding-top: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_search{
    box-sizing: border-box;
    height: 46px;
    width: 482px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 5px 8px 0 14px;
    display: flex;
    justify-content: center;
}

.main_search:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.img_search_div{
    display: flex;
    align-items: center;
}

.main_search img.search{
    height: 26px;
    width: 20px;
    padding-right: 13px;
    margin-top: -4px;
}

.img_voice_div{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.main_search img.voice{
    height: 44px;
    width: 24px;
    padding: 0 8px;
}

.main_search input{
    width: 438px;
    height: 34px;
    border: 0;
    color: black;
    outline: none;
    font-size: 16px;
}

.main_btn {
    height: 70px;
    width: 571px;
    padding-top: 18px;
    display: flex;
    justify-content: center;
}

.main_btn button{
    height: 36px;
    margin: 11px 4px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    padding: 0 16px;
    background-color: rgb(242, 242, 242);
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    cursor: pointer;
}
.main_btn button:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    border: 1px solid #c6c6c6;
}

.third{
    width: 100%;
    height: 28px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
}

.third span{
    color:rgb(34, 34, 34);
    font-family:arial, sans-serif;
    font-size:13px;
}

.third span a {
    color: rgb(26, 13, 171);
    font-family: arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
    padding: 0 3px;
}

.third span a:hover {
    text-decoration: underline;
}
